* { margin:0; padding: 0; font-family: "Arial Black", "Arial Bold", Gadget, sans-serif;	 font-weight: bold; font-size: 18px; }
html, body { background-color:black; overflow: hidden; }
body { } /* border: solid white 1px; */

/** Study blocks */
#studyheader 	{ position: fixed; width: 100%; height: 24%; top:0px; left:0px;  }
#studyheader>p 	{ font-size: 20px; text-align: center; color: orange;  }

/** Mode blocks */
ul#modes 				{ position: fixed;  color: white; text-align: center; }
ul#modes>li 			{ width: 110px; height: 90px; margin: 10px; display: block; float: left; list-style-type: none; background-color: rgb(53, 58, 51); border: 1px solid rgb(112, 112, 112); } 
ul#modes>li.selected 	{ background-color: rgb(53, 255, 51); border: 1px solid rgb(112, 112, 112); } 
ul#modes>li>span:first-child 	{ font-size: 24px; display: block; } 
ul#modes>li>span 				{ font-size: 12px; } 

/** Data information block */
#datainfo { position: fixed; top: 30%; left: 83%; width: 15%; }
/*#datainfo { position: fixed; top: 5%; left: 83%; width: 15%; pointer-events: none; } VIDEO */
#datainfo>span { font-size: 16px; color: white; }
#datainfo>span.row { background-color: red; }
#datainfo>span.col { background-color: blue; }
#datainfo>span.value { font-size: 32px; }

/** Axis visuals */
.control 		{ position:fixed; } 
.axislabel 		{  }
.axislabel *	{ -webkit-transition: all 0.3s ease;  }
.axislabel div.text { color: white; font-size: 14px; }

.axislabel.x { text-align: center; font-size: 10px; } 
.axislabel.x div.text { position: absolute; margin-top: 60px; margin-left: -15px; padding-left: 10px; padding-right: 10px; text-align: right; } 
.axislabel.x div.bar  { position: absolute; left: 40%; height: 60px; top: 0px; width: 20%; background-color: gray; } 
.axislabel.x.selected div.text { background-color: blue; z-index: 99; } 
.axislabel.x.selected div.bar { background-color: blue; } 

.axislabel.y {  text-align: right; } 
.axislabel.y div.text { position: absolute; right: 60px; bottom: 1px; padding-right: 5px; padding-left: 5px; } 
.axislabel.y div.bar  { position: absolute; top: 40%; width: 60px; right: 0px; height: 20%; background-color: gray; } 
.axislabel.y.selected div.text { background-color: red; z-index: 99; } 
.axislabel.y.selected div.bar { background-color: red; } 