body {
	background-color:black;
	color:white;
	font-family: segoe ui;
}

.title {
	font-size:1.5em;
	padding:10px;
}

div#leftaxis {
	width:80%;
	float:right;
}

div#leftfunctions {
	width: 20%;
	float: right;
	height: 100%;
	position: relative;
	display: inline-block;
}

input#refresh {
	right: 1%;
	height: 55px;
	width: 55px;
	display: inline-block;
	float: right;
	position: relative;
	top: 1px;
	border: 1px solid lightgray;
	padding: 20px;
}

#datainfo {
	margin-bottom:20px;
	text-align:center;
}

span.title {
	font-weight: bold;
}

.axis_label_left, .axis_label_lower {
	padding:20px;
	display:inline-block;
	width:80%;
	border:1px solid lightgray;
	margin-bottom:5px;
	float:right;
	text-align:right;
	font-size:1.5em;
	background-color:#FFFFC8;
	z-index:2;
	color:black;
	/*Change below for display size and resolution*/
	/*height:60px;
	margin-bottom:25px;*/
}

.axis_label.drag-active_y, .axis_label.drag-active_x {
	background-color:orange;
}

.drop-target_y, .drop-target_x {
	background-color:orange;
}

.control.axislabel.y {
	position:relative;
	width:100%;
	float:right;
}

.drag-active_y, .drag-active_x {
	z-index:10;
	position:relative;
	display:inline-block;
}

.dropzone_y, .dropzone_x {
	position:relative;
	width: 100%;
	height: 5%;
	top: 20px;
	z-index:-1;
}

/************************************************/
/*************** Lower panel styling ************/
/************************************************/
div#loweraxis {
	float:left;
	width:100%;
	height:50%;
	position:relative;
}

.spantext {
	transform:rotate(-90deg);
	display:inline-block;
	padding:10px;
	position:relative;
	right:20px;
}

.control.axislabel.x {
	float:left;
	width:10%;
	height:100%;
	position:relative;
}
.text.axis_label_lower {
	float:left;
	width:30%;
	height:100%;
	position:relative;
}

.axis_label_lower {
	float:left;
	width:30%;
	height:100%;
	position:relative;
}
.dropzone_x {
	float:left;
	width:30%;
	height:100%;
	position:relative;
	z-index:-1;
	left:-40px;
}

/********** End lower panel styling ************/


/************************************************/
/********* Navigation scrollbar styling *********/
/************************************************/

.scroll_x, .scroll_y { 
	position:fixed;  
	border: 2px solid white; 
}

.scroll_x .nub_x	, .scroll_y .nub_y{ 
	position: absolute; 
	display: block; 
	border-radius: 5px; 
	background-color: orange; 
}

.scroll_x .ghost_x, .scroll_y .ghost_y{ 
	position: absolute; 
	display: block; 
	border-radius: 5px; 
	border: 1px solid gray; 
	background-color: rgba(255, 255, 255, 0.4); 
}
			
#hscroll.scroll_x{ 
	bottom: 3%; 
	width: 95%;
	margin:0 auto;
	height: 10%; 
	background-color: rgb(52, 52, 52); 
}

#vscroll.scroll_y {
	left: 1%; 
	width: 7%;
	margin:0 auto;
	height: 85%; 
	background-color: rgb(52, 52, 52); 
}

#hscroll.scroll_x .nub_x	{ 
	width: 8%; 
	height: 100%; 
}

#vscroll.scroll_y .nub_y	{ 
	width: 100%; 
	height: 8%; 
}

#hscroll.scroll_x .ghost_x{ 
	width: 8%; 
	height: 100%; 
}

#vscroll.scroll_y .ghost_y{ 
	width: 100%; 
	height: 8%; 
}

/****** End navigation scrollbar styling ********/