body {
	background-color:black;
	color:white;
	font-family: segoe ui;
}

.title {
	font-size:1.5em;
	padding:10px;
}

div#leftaxis {
	width:80%;
	float:right;
}

div#leftfunctions {
	width: 20%;
	float: right;
	height: 95%;
	position: relative;
	display: inline-block;
}

input#refresh {
	right: 1%;
	height: 55px;
	width: 55px;
	display: inline-block;
	float: right;
	position: relative;
	top: 1px;
	border: 1px solid lightgray;
	padding: 20px;
}

#datainfo {
	/*margin-bottom:20px;
	text-align:center;*/
}

span.title {
	font-weight: bold;
}

.axis_label_left {
	padding:20px;
	display:inline-block;
	width:80%;
	border:1px solid lightgray;
	margin-bottom:5px;
	float:right;
	text-align:right;
	font-size:1.5em;
	background-color:#FFFFC8;
	z-index:2;
	color:black;
	/*Change below for display size and resolution*/
	height:50px;
	margin-bottom:38px;
}

.axis_label_lower {
	padding:20px;
	display:inline-block;
	width:80%;
	border:1px solid lightgray;
	margin-bottom:5px;
	float:right;
	text-align:right;
	font-size:1.5em;
	background-color:#FFFFC8;
	z-index:2;
	color:black;
	/*Change below for display size and resolution*/
	height:50px;
	margin-bottom:38px;

}


.axis_label.drag-active_y, .axis_label.drag-active_x {
	background-color:orange;
}

.drop-target_y, .drop-target_x {
	background-color:orange;
}

.control.axislabel.y {
	position:relative;
	width:100%;
	float:right;
}

.drag-active_y, .drag-active_x {
	z-index:10;
	position:relative;
	display:inline-block;
}

.dropzone_y, .dropzone_x {
	position:relative;
	width: 100%;
	height: 5%;
	top: 20px;
	z-index:-1;
}

/************************************************/
/*************** Lower panel styling ************/
/************************************************/
div#loweraxis {
	float:left;
	width:100%;
	height:50%;
	position:relative;
}

.spantext {
	transform:rotate(-90deg);
	display:inline-block;
	padding:10px;
	position:relative;
	right:20px;
}

.control.axislabel.x {
	float:left;
	width:50px;
	margin-right:79px;
	height:100%;
	position:relative;
}
.text.axis_label_lower {
	float:left;
	width:40px;
	height:100%;
	position:relative;
}

.axis_label_lower {
	float:left;
	width:30%;
	height:100%;
	position:relative;
}
.dropzone_x {
	/*float:left;*/
	width:100%;
	height:100%;
	position:relative;
	z-index:-1;
	/*left:-40px;*/
	left:15px;
}

/********** End lower panel styling ************/


/************************************************/
/********* Navigation scrollbar styling *********/
/************************************************/

#hscroll.scroll_x{ 
	position:fixed;  
	border: 2px solid white; 
	bottom: 1%; 
	width: 80%;
	left:10%;
	margin:0 auto;
	height: 10%; 
	background-color: rgb(52, 52, 52); 
}
#vscroll.scroll_y {
	position:fixed;  
	border: 2px solid white; 
	left: 1%; 
	width: 7%;
	margin:0 auto;
	height: 80%; 
	top:10%;
	background-color: rgb(52, 52, 52); 
}


#hscroll.scroll_x .nub_x	{ 
	position: absolute; 
	display: block; 
	background-color: white; 
	width: 8%; 
	height: 97%; 
	outline:none;
	border-color:white;
	box-shadow: 0 0 15px white;
	margin-left:1px;
	margin-top:1px;
}
#vscroll.scroll_y .nub_y	{ 
	position: absolute; 
	display: block; 
	background-color: white; 
	width: 99%; 
	height: 8%; 
}


#hscroll.scroll_x .ghost_x{ 
	position: absolute; 
	display: block; 
	border: 1px solid gray; 
	background-color: rgba(255, 255, 255, 0.4);
	width: 8%; 
	height: 97%;
	outline:none;
	border-color:gray;
	box-shadow: 0 0 15px gray;
}

#vscroll.scroll_y .ghost_y{ 
	position: absolute; 
	display: block; 
	border: 1px solid gray; 
	background-color: rgba(255, 255, 255, 0.4);
	width: 99%; 
	height: 8%; 
}


/****** End navigation scrollbar styling ********/

#up_one {}
#down_one {}

#uparrow, #downarrow, #leftarrow {
	position:absolute;
	left:1%;
	padding:none;
	width:8%;
}
#rightarrow {
	position:absolute;
	width:8%;
}
#uparrow:active, #downarrow:active {}

#downarrow { bottom:0.5%; }
#uparrow { top:0.5%; }
#leftarrow { bottom:0.5%;left:0.5%; }
#rightarrow { bottom:0.5%;right:0.01%; }